/* /templates/fragments/header.html */
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header th:fragment="common-header" class="site-header">
      <div class="header-container">
        <div class="header-left">
          <a href="/" class="logo">Hệ Thống Lớp Học</a>
          <nav class="main-nav">
            <ul>
              <li><a href="/trang-chu">Trang chủ</a></li>
              <li><a href="/about">Giới thiệu</a></li>
              <li><a href="/tin-tuc">Tin tức</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-right" id="auth-zone">
          <a href="/auth/login" class="btn-login">Đăng nhập</a>
          <a href="/auth/register" class="btn-register">Đăng ký</a>
        </div>
      </div>
    </header>
  </body>
</html>
