<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header th:fragment="common-header">
      <nav class="navbar bg-white shadow-sm sticky-top">
        <div
          class="container-fluid px-3 d-flex flex-row align-items-center justify-content-between"
        >
          <div
            id="header-dynamic-container"
            class="w-100 d-flex flex-row align-items-center justify-content-between"
          ></div>
        </div>
      </nav>

      <div id="sidebarPublicContainer"></div>
    </header>
  </body>
</html>
