# ========================
# DATABASE CONFIG
# ========================
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password

DB_PORT=3306

DB_URL=jdbc:mysql://mysql:3306/your_database_name
DB_USER=your_username
DB_PASS=your_password

# ========================
# JWT CONFIG
# ========================
JWT_SECRET=your_jwt_secret_key_here

# ========================
# FIREBASE
# ========================
FIREBASE_STORAGE_BUCKET=your-project.firebasestorage.app

# ========================
# CLOUDINARY
# ========================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret