/* /templates/account/login.html */

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>
  </head>

  <body>
    <h2>Login</h2>

    <form id="loginForm">
      <div>
        <label> Username </label>

        <input type="text" id="username" required />
      </div>

      <br />

      <div>
        <label> Password </label>

        <input type="password" id="password" required />
      </div>

      <br />

      <button type="submit">Login</button>
    </form>

    <p id="message"></p>

    <script>
      document
        .getElementById("loginForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const data = {
            username: document.getElementById("username").value,

            password: document.getElementById("password").value,
          };

          try {
            const response = await fetch("/api/auth/login", {
              method: "POST",

              headers: {
                "Content-Type": "application/json",
              },

              body: JSON.stringify(data),
            });

            const result = await response.json();

            if (response.ok) {
              document.getElementById("message").innerText =
                "Đăng nhập thành công";

              setTimeout(function () {
                if (result.role === "ADMIN") {
                  window.location.href = "/admin/trang-chu";
                } else if (result.role === "TEACHER") {
                  window.location.href = "/teacher/trang-chu";
                } else if (result.role === "STUDENT") {
                  window.location.href = "/student/trang-chu";
                }
              }, 500);
            } else {
              document.getElementById("message").innerText =
                result.message ?? "Sai username hoặc password";
            }
          } catch (error) {
            document.getElementById("message").innerText =
              "Không thể kết nối server";

            console.error(error);
          }
        });
    </script>
  </body>
</html>
